* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Karla;
  src: url(https://fonts.google.com/specimen/Karla);
}

$cyan: hsl(179, 62%, 43%);
$cyanLighter: hsla(179, 62%, 43%, 0.75);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

$mainPading: 1rem;
$halfPading: $mainPading/2;
$doublePading: 2 * $mainPading;

.main {
  position: relative;
  background-color: $lightGray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.advert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-wrap: wrap;

  & > * {
    padding: $doublePading;
  }

  & > :nth-child(n + 2) {
    width: 50%;
  }

  &__head {
    line-height: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem 0.5rem 0 0;

    &__header__title {
      color: $cyan;
      padding-bottom: $mainPading;
    }

    &__slogan {
      color: $brightYellow;
      font-size: 16px;
      padding-bottom: $mainPading;
    }

    &__info {
      color: $grayishBlue;
      line-height: 1.8rem;
    }
  }

  & > :nth-child(n + 2) {
    color: $lightGray;
  }

  &__offer {
    color: $lightGray;
    background-color: $cyan;
    border-radius: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;

    &__header {
      font-weight: 700;
      padding-bottom: $mainPading;
    }

    &__price {
      font-weight: 700;
      display: flex;
      align-items: center;

      &__number {
        font-size: 2rem;
        font-weight: 700;
        padding-right: $mainPading;
      }

      &__unit {
        opacity: 0.6;
      }
    }

    &__info {
      padding: $mainPading 0 $doublePading 0;
    }

    &__button {
      color: $lightGray;
      font-weight: 700;
      background-color: $brightYellow;
      width: 100%;
      height: 3rem;
      border-radius: 0.2rem;
      border: 0;
      margin-top: auto;
      cursor: pointer;

      &:hover {
        border: solid 1px;
        color: black;
      }

      &:active {
        background-color: rgb(246, 170, 47);
        color: $lightGray;
      }
    }
  }

  &__info {
    background-color: $cyanLighter;
    border-radius: 0 0 0.5rem 0;

    &__header {
      padding-bottom: $mainPading;
    }

    &__text {
      list-style-type: none;
      line-height: 1.6rem;
    }

    & li {
      opacity: 0.8;
    }
  }
}

.footer {
  padding: 0.5rem 1rem;
  font-size: 11px;
  margin-top: auto;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}

@media (max-width: 1100px) {
  .main {
    background-color: green;
  }

  .advert {
    width: 25rem;
    flex-wrap: nowrap;
    flex-direction: column;

    & > :nth-child(n + 1) {
      width: 100%;
    }

    &__offer {
      background-color: $cyan;
      border-radius: 0;
    }

    &__info {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

@media (max-width: 500px) {
  .main {
    background-color: rgb(231, 98, 191);
  }

  .advert {
    width: 20rem;
  }
}
